#account{
   position: absolute;
   top: 148px;
   left: calc(50% - 237px);
   width: 476px;
   height: 466px;
   background-color: #252525;
   visibility: hidden;
   border-radius: 30px;
}

#password{
   position: relative;
   left: calc(50% - 134px);
   top: 79px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#email{
   position: relative;
   left: calc(50% - 134px);
   top: 61px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#username{
   position: relative;
   left: calc(50% - 134px);
   top: 70px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#signup{
   color: white;
   text-align: start;
   width: 100%;
   position: relative;
   left: 0%;
   top: 60px;
   text-align: center;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}
 
#login{
   color: white;
   text-align: start;
   width: 100%;
   position: relative;
   left: 0%;
   top: 54px;
   text-align: center;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}

#signupBtn{
   position: relative;
   background-color: white;
   left: calc(50% - 133px);
   top: 72px;
   height: 38px;
   width: 270px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 22px;
   border: none;
}

#signupBtn:hover{
   background-color: #538d4e;
   color: white;
}

#loginBtn{
   position: relative;
   background-color: white;
   left: calc(50% - 131px);
   top: 74px;
   height: 38px;
   width: 270px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 22px;
   border: none;
}

#loginBtn:hover{
   background-color: #538d4e;
   color: white;
}


#information{
   position: relative;
   bottom: 153px;
   left: 0px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#email-username{
   position: relative;
   left: calc(50% - 132px);
   top: 54px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#passwordL{
   position: relative;
   left: calc(50% - 132px);
   top: 64px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#informationL{
   position: relative;
   bottom: 104px;
   left: 0px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#Log-In{
   position: relative;
   bottom: -25px;
}

#user-account{
   position: relative;
   top: 211px;
   height: 40px;
}

#createAccount{
   position: relative;
   top: 103px;
   font-size: 16px;
   right: 34px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

#createAccount:hover{
   text-decoration: underline;
   color: #3362d9;
}

#Verification-Code{
   position: relative;
   top: 130px;
}

#verification{
   color: white;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   position: relative;
   top: -87px;
}

#decominutesV{
   color: white;
   position: absolute;
   left: calc(50% - 49px);
   font-size: 40px;
   top: -22px;
   font-family: Arial, Helvetica, sans-serif;
}

#minutesV{
   color: white;
   position: absolute;
   left: calc(50% - 24px);
   font-size: 40px;
   top: -22px;
   font-family: Arial, Helvetica, sans-serif;
}

#timeDivisionV{
   color: white;
   position: absolute;
   left: 50%;
   font-size: 40px;
   top: -26px;
   font-family: Arial, Helvetica, sans-serif;
}

#decosecondsV{
   color: white;
   position: absolute;
   left: calc(50% - -13px);
   font-size: 40px;
   top: -22px;
   font-family: Arial, Helvetica, sans-serif;
}

#secondsV{
   color: white;
   position: absolute;
   left: calc(50% - -38px);
   font-size: 40px;
   top: -22px;
   font-family: Arial, Helvetica, sans-serif;
}

#verificationcode{
   position: relative;
   left: calc(50% - 132px);
   top: 61px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#loginVBtn{
   position: relative;
   background-color: white;
   left: calc(50% - 131px);
   top: 0px;
   height: 38px;
   width: 270px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 22px;
   border: none;
}

#loginVBtn:hover{
   background-color: #538d4e;
   color: white;
}

#resend{
   position: relative;
   top: 30px;
   font-size: 16px;
   right: 5px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

#resend:hover{
   text-decoration: underline;
   color: #3362d9;
}

#informationV{
   position: relative;
   bottom: 137px;
   left: 0px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#warning{
   position: relative;
   bottom: -133px;
   left: 0px;
   font-size: 16px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: #ff0000;
}

#forgotPassword{
   position: relative;
   top: 97px;
   font-size: 16px;
   color: white;
   display: block;
   left: 50.4%;
   width: 123px;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

#forgotPassword:hover{
   text-decoration: underline;
   color: #3362d9;
}

#forgot-email{
   position: relative;
   left: calc(50% - 134px);
   top: 185px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#forgotBtn{
   position: relative;
   background-color: white;
   left: calc(50% - 134px);
   top: 192px;
   height: 38px;
   width: 270px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 22px;
   border: none;
}

#forgotBtn:hover{
   background-color: #538d4e;
   color: white;
}

#forgotBack{
    position: relative;
    top: 196px;
    font-size: 16px;
    color: white;
    display: block;
    left: 53.4%;
    width: 123px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#forgotBack:hover{
   text-decoration: underline;
   color: #3362d9;
}

#forgotText{
    position: relative;
    bottom: 29px;
    left: 81px;
    width: 316px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#reset{
    color: white;
    text-align: start;
    width: 100%;
    position: relative;
    left: 0%;
    top: 85px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#resetText{
    position: relative;
    bottom: -116px;
    left: 81px;
    width: 316px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#new-password{
    position: relative;
    left: calc(50% - 134px);
    top: 100px;
    height: 30px;
    border-radius: 30px;
    padding: 5px 28px;
    font-size: 17px;
    border: none;
}

#confirm-new-password{
    position: relative;
    left: calc(50% - 134px);
    top: 108px;
    height: 30px;
    border-radius: 30px;
    padding: 5px 28px;
    font-size: 17px;
    border: none;
}

#resetBtn{
    position: relative;
    background-color: white;
    left: calc(50% - 134px);
    top: 115px;
    height: 38px;
    width: 270px;
    border-radius: 30px;
    padding: 5px 28px;
    font-size: 22px;
    border: none;
}

#resetBtn:hover{
   background-color: #538d4e;
   color: white;
}

#resetBack{
    position: relative;
    top: 119px;
    font-size: 16px;
    color: white;
    display: block;
    left: 66.4%;
    width: 123px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#resetBack:hover{
   text-decoration: underline;
   color: #3362d9;
}

#profileName{
   color: white;
   font-size: 40px;
   position: relative;
   width: 100%;
   text-align: center;
   bottom: 200px;
   font-family: Arial, Helvetica, sans-serif;
}

#end-session{
   position: relative;
   top: -159px;
   left: 85%;
   height: 30px;
   width: 30px;
   background-color: #252525;
   border-radius: 8px;
   padding: 12px;
   border: none;
}

#end-session:hover{
   background-color: #2f2f30;
}

.shots-text{
   color: white;
   font-size: 20px;
   position: relative;
   width: 100%;
   margin-bottom: -17px;
   text-align: start;
   bottom: 200px;
   font-family: Arial, Helvetica, sans-serif;
}

#shots-text-container{
   position: relative;
   bottom: -280px;
   left: 11px;
   height: 50px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#shots-stats{
   position: relative;
   bottom: -33px;
   left: 43px;
   width: 143px;
   height: 175px;
}

.shots{
   width: 12%;
   height: 19px;
   margin-bottom: 7px;
   border-radius: 30px;
}

#first-shot-win{
   background-color: #538d4e;
}

#second-shot-win{
   background-color: #60a55a;
}

#third-shot-win{
   background-color: #6bb565;
}

#fourth-shot-win{
   background-color: #7ab375;
}

#fifth-shot-win{
   background-color: #80ab7c;
}

#sixth-shot-win{
   background-color: #a4c9a1;
}

#seventh-shot-win{
   background-color: #b8e1c2;
}

#shots-percent-container{
   position: relative;
   bottom: -35px;
   left: 208px;
   width: 10px;
   height: 10px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#user-stats{
   position: relative;
   bottom: 235px;
   left: 50px;
   height: 217px;
   width: 257px;
   font-size: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#explenation{
   position: relative;
   top: 139px;
   font-size: 16px;
   right: -119px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

#explenation:hover{
   text-decoration: underline;
   color: #3362d9;
}

#why{
   position: relative;
   top: 66px;
}

#why h2{
   color: white;
   font-size: 24px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

#why li{
   color: white;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}

#why hr{
   border: 1px solid #ffffff;
   margin: 20px 0;
   position: relative;
   width: 90%;
   left: 5%;
}

#why button{
   border: none;
   margin: 20px 0;
   position: relative;
   width: 25%;
   left: 36%;
   height: 23px;
   border-radius: 17px;
}