body, html {
   margin:0;
   padding:0;
   height: 98%;
   width: 100%;
   background-color: #121213;
}

.grid{
   display: grid;
   grid-template-rows: repeat(5, auto);
   grid-template-columns: repeat(5, auto);
   justify-content: center;
   position: relative;
   width: 30%;
   left: 35%;
   top: 125px;
}

#wrap{
   text-align: center;
   width: 60%;
   position: absolute;
   bottom: 340px;
   left: 20%;
}

.box{
   border-radius: 10%;
   border-style: solid;
   border-color: #3a3a3c;
   border-width: 2px;
   width: 60px;
   height: 60px;
   font-family: Montserrat, 'Open Sans', sans-serif;
   color:white;
   font-size: 35px;
   font-weight: 600;
   text-align: center;
   align-content: center;
   margin: 2.5px;
}

.box.empty{
   background-color: #5c5656;
}

.box.wrong{
   background-color: #b59f3b;
}

.box.correct{
   background-color: #538d4e;
}

.box.rotate{
   animation: rotate 0.5s;
}

#arrow{
   position: absolute;
   top: 112px;
   display: flex;
   flex-direction: row;
   left: calc(50% - 173px);
   height: 50px;
   width: 342px;
   visibility: hidden;
}

.arrows{
   margin: 0 4px;
   width: 43px;
   padding: 5px 10px;
   height: 50px;
   border-radius: 30px;
}

.arrows:hover{
   background-color: #202020;
}

#gift1{
   position: relative;
   top: 3px;
   width: 40px;
}

#gift2{
   position: relative;
   position: relative;
   top: 3px;
   width: 40px;
}

#gift3{
   position: relative;
   top: 3px;
   width: 40px;
}

#gift4{
   position: relative;
   top: 3px;
   width: 40px;
}

#gift5{
   position: relative;
   top: 3px;
   width: 40px;
}

.hidden{
   visibility:hidden;
}

#annoncement{
   color: red;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   top: 103px;
   left: 10%;
   height: 20px;
   width: 80%;
}

.animated{
   animation: flip 0.5s ease;
}

@keyframes flip{
   0%{
      transform: scaleY(1);
   }

   50%{
      transform: scaleY(0);
   }

   100%{
      transform: scaleY(1);
   }
}

#gameOptions{
   position: absolute;
   left: calc(50% - 293px);
   width: 57px;
   height: 150px;
   bottom: 48.5px;
   text-align: start;
   background-color: #2f2f30;
   border-radius: 8px;
}

#play{
   background-color: #2f2f30;
   border: none;
   margin-top: 6px;
   margin-bottom: -14px;
   margin-left: 5px;
   border-radius: 8px;
   width: 26px;
   height: 28px;
   padding: 6px 9px 6px 11px;
   align-content: center;
}

#play:hover{
   background-color: #474747;
}

#restartBack{
   position: absolute;
   top: 6px;
   left: 5px;
   background-color: #2f2f30;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 28px;
   padding: 6px 9px 6px 11px;
   align-content: center;
   visibility: hidden;
}

#restart{
   position: absolute;
   top: 11px;
   left: 15px;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 28px;
   align-content: center;
   visibility: hidden;
}

#restart.ro{
   animation: rotate 0.5s;
}

#restartCount{
   position: relative;
   background-color: #2f2f30;
   width: 13px;
   height: 15px;
   left: 38.5px;
   top: -35px;
   text-align: center;
   color: white;
   border-radius: 30px;
   padding: 2.5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   visibility: hidden;
}

#lowBattery{
   position: absolute;
   top: 57px;
   left: 5px;
   background-color: #2f2f30;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 24px;
   padding: 8px 9px 8px 11px;
   align-content: center;
}

#lowBattery:hover{
   background-color: #474747;
}

#midBattery{
   position: absolute;
   top: 57px;
   left: 5px;
   background-color: #2f2f30;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 24px;
   padding: 8px 9px 8px 11px;
   align-content: center;
   visibility: hidden;
}

#midBattery:hover{
   background-color: #474747;
}

#highBattery{
   position: absolute;
   top: 57px;
   left: 5px;
   background-color: #2f2f30;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 24px;
   padding: 8px 9px 8px 11px;
   align-content: center;
   visibility: hidden;
}

#highBattery:hover{
   background-color: #474747;
}

#langBack{
   position: absolute;
   top: 106px;
   left: 5px;
   background-color: #2f2f30;
   border: none;
   border-radius: 8px;
   width: 26px;
   height: 28px;
   padding: 6px 9px 6px 11px;
   align-content: center;
}

#lang{
   position: absolute;
   top: 112px;
   left: 16px;
   border: none;
   border-radius: 8px;
   width: 24px;
   height: 28px;
   align-content: center;
}

#lang:hover{
   animation:0.5s rotate;
}

.keys{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #2f2f30;
   border: none;
   color: white;
   width: 42px;
   margin-top: 5px;
   border-radius: 8px;
   text-align: center;
   padding-top: 8px;
   padding-bottom: 8px;
   text-decoration: none;
   display: inline-block;
   font-size: 26px;
}

.keys:hover{
   background-color: #3f3f3f;
}

#keyboard{
   position: absolute;
   bottom: 47px;
   width: 60%;
   height: 156px;
   left: 20%;
   text-align: center;
   align-content: center;
}

#ç{
   visibility: hidden;
}

.blank{
   background-color: #252525;
}

#del{
   background-color: #3a3a3c;
   border: none;
   margin-bottom: -14px;
   border-radius: 8px;
   width: 30px;
   height: 34px;
   padding: 6px 6px;
   align-content: center;
}

#del:hover{
   background-color: #474747;
}

#enter{
   background-color: #3a3a3c;
   border: none;
   margin-bottom: -14px;
   border-radius: 8px;
   width: 25px;
   height: 35px;
   padding: 6px 9px;
   align-content: center;
}

#enter:hover{
   background-color: #474747;
}

#trash{
   background-color: #3a3a3c;
   border: none;
   margin-bottom: -14px;
   border-radius: 8px;
   width: 25px;
   height: 30px;
   padding: 8px 8px;
   align-content: center;
}

#trash:hover{
   background-color: #474747;
}

#helps{
   position: absolute;
   left: calc(50% + 235px);
   width: 83px;
   height: 150px;
   bottom: 48px;
   text-align: start;
   background-color: #2f2f30;
   border-radius: 8px;
}

#hint{
   background-color: #2f2f30;
   border: none;
   margin-top: 6px;
   margin-bottom: -14px;
   margin-left: 5px;
   border-radius: 8px;
   width: 26px;
   height: 30px;
   padding: 5px 10px;
   align-content: center;
}

#hint:hover{
   background-color: #474747;
}

#hintValue{
   color: #ffffff;
   position: relative;
   font-family: Arial, Helvetica, sans-serif;
   left: 61px;
   top: -140px;
   font-size: 20px;
}

#chance{
   background-color: #2f2f30;
   border: none;
   margin-top: 20px;
   margin-bottom: -14px;
   margin-left: 5px;
   border-radius: 8px;
   width: 26px;
   height: 30px;
   padding: 5px 10px;
   align-content: center;
}

#chance:hover{
   background-color: #474747;
}

#chanceValue{
   color: #ffffff;
   position: relative;
   font-family: Arial, Helvetica, sans-serif;
   left: 61px;
   top: -128px;
   font-size: 20px;
}

#hammer{
   background-color: #2f2f30;
   border: none;
   margin-top: 20px;
   margin-bottom: -14px;
   margin-left: 5px;
   border-radius: 8px;
   width: 26px;
   height: 30px;
   padding: 5px 10px;
   align-content: center;
}

#hammer:hover{
   background-color: #474747;
}

#hammerValue{
   color: #ffffff;
   position: relative;
   font-family: Arial, Helvetica, sans-serif;
   left: 61px;
   top: -134px;
   font-size: 20px;
}

.keys.correct{
   background-color: #538d4e;
}

.keys.wrong{
   background-color: #b59f3b;
}

.keys.empty{
   background-color: #5c5656;
}

#left-bar{
   position: absolute;
   top: 0px;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: space-around;
   text-align: center;
   width: 90px;
   height: 100%;
   background-color: #2f2f30;
}

.in{
   animation: 1s mymovein ease;
   left: 0px;
}

.out{
   animation: 1s mymoveout ease;
   left: -90px;
}

.init{
   left: -90px;
}

@keyframes mymovein {
   from {left: -90px;}
   to {left: 0px;}
}

@keyframes mymoveout {
   from {left: 0px;}
   to {left: -90px;}
}

.title{
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family: Montserrat, 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 35px;
   color: #FFFFFF;
   width: 35px;
   height: 35px;
   padding: 5px;
   margin-right: 5px;
}

#logo{
   width: 55px;
   height: 55px;
   margin-top: 7px;
   margin-right: -4px;
}

#empty{
   background: #5C5656;
}

#correct{
   background: #538D4E;
}

#wrong{
   background: #B59F3B;
}


#top-bar{
   position:absolute;
   top:0px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height:70px;
   background-color: #3a3a3c;
}

#language{
   display: flex;
   flex-direction: row;
   position: absolute;
   bottom: 47px;
   left: calc(50% - 403px);
   height: 47px;
   width: 103px;
   align-items: center;
   justify-content: space-around;
   border-radius: 9px;
   background-color: #474747;
}

.appearLang{
   visibility: visible;
   animation: lang 0.5s;
}

.desappearLang{
   animation: Dlang 0.5s;
}

@keyframes lang {
   0%{
      left: calc(50% - 300px);
      width: 0px;
   }

   100%{
      left: calc(50% - 403px);
      width: 103px;
   }
}

@keyframes Dlang {
   0%{
      width: 103px;
      left: calc(50% - 403px);
   }

   100%{
      width: 0px;
      left: calc(50% - 300px);
   }
}

#options{
   position: absolute;
   border-radius: 7px;
   color: white;
   width: 27px;
   height: 27px;
   padding: 10px;
   left: 23px;
   background-color: #3a3a3c;
}

#options:hover{
   background-color:#474747;
}

#profile{
   position: absolute;
   border-radius: 10px;
   width: 35px;
   height: 35px;
   padding: 10px;
   right: 23px;
   background-color: #3a3a3c;
}

#profile:hover{
   background-color:#474747;
}



#shopIcon{
   position: relative;
   border-radius: 10px;
   width: 35px;
   height: 35px;
   padding: 10px;
   background-color: #2f2f30;
}

#passIcon:hover{
   background-color:#474747;
}

#passIcon{
   position: relative;
   border-radius: 10px;
   width: 35px;
   height: 35px;
   padding: 10px;
   background-color: #2f2f30;
}

#shopIcon:hover{
   background-color:#474747;
}

#podiumIcon{
   position: relative;
   border-radius: 10px;
   width: 45px;
   height: 45px;
   padding: 5px;
   background-color: #2f2f30;
}

#podiumIcon:hover{
   background-color:#474747;
}

#shop{
   padding: 43px;
   text-align: center;
   position: absolute;
   bottom: 40px;
   height: 73%;
   width: 210px;
   background-color: #646464;
   border-radius: 25px;
   left: 105px;
}

#shop.appear{
   animation: appear 2s;
   opacity: 1;
}

#shop.desapear{
   animation: desappear 2s;
   opacity: 0;
}

#shop.init{
   opacity: 0;
}

#coin{
   position: relative;
   width: 41px;
   top: -50px;
   left: -35px;
}

#money{
   font-family: cursive;
   font-size: 22px;
   background-color: #3a3a3c;
   color: white;
   width: 50px;
   padding-left: 19px;
   border-radius: 5px;
   position: relative;
   left: 35%;
   padding-right: 13px;
}

.coinb{
   position: relative;
   width: 34px;
   top: -28px;
   left: -28px;
}

.moneyb{
   font-family: cursive;
   font-size: 19px;
   background-color: #2f2f30;
   color: white;
   width: 32px;
   padding-left: 19px;
   border-radius: 5px;
   position: relative;
   left: 32%;
   top: 16px;
   padding-right: 13px;
}

#buyhint{
   position: relative;
   left: 40%;
   top: -17px;
   border: #3a3a3c 3px solid;
   background-color: #3a3a3c;
   border-radius: 20px;
   width: 145px;
   height: 103px;
}

#buyhint:hover{
   background-color: #474747;
}

#buyhammer{
   position: relative;
   top: -8px;
   left: 40%;
   border: #3a3a3c 3px solid;
   background-color: #3a3a3c;
   border-radius: 20px;
   width: 145px;
   height: 103px;
}

#buyhammer:hover{
   background-color: #474747;
}

#buychance{
   position: relative;
   left: 40%;
   border: #3a3a3c 3px solid;
   background-color: #3a3a3c;
   border-radius: 20px;
   width: 145px;
   height: 103px;
}

#buychance:hover{
   background-color: #474747;
}

#buyrestart{
   top: -25px;
   position: relative;
   left: 40%;
   border: #3a3a3c 3px solid;
   background-color: #3a3a3c;
   border-radius: 20px;
   width: 145px;
   height: 103px;
}

#buyrestart:hover{
   background-color: #474747;
}

.hints{
   background-color: #2f2f30;
   border: none;
   margin-top: 6px;
   margin-bottom: -14px;
   margin-left: 5px;
   border-radius: 8px;
   width: 26px;
   height: 30px;
   padding: 5px 10px;
   align-content: center;
   position: relative;
   top: 5px;
}

#pass{
   padding: 43px;
   text-align: center;
   position: absolute;
   bottom: 40px;
   height: 73%;
   width: 210px;
   background-color: #646464;
   border-radius: 25px;
   left: 105px;
}

#pass.appear{
   animation: appear 2s;
   opacity: 1;
}

#pass.desapear{
   animation: desappear 2s;
   opacity: 0;
}

#pass.init{
   opacity: 0;
}

#leaderboard{
   padding: 43px;
   text-align: center;
   position: absolute;
   bottom: 40px;
   height: 73%;
   width: 210px;
   background-color: #646464;
   border-radius: 25px;
   left: 105px;
}

#leaderboard.appear{
   animation: appear 2s;
   opacity: 1;
}

#leaderboard.desapear{
   animation: desappear 2s;
   opacity: 0;
}

#leaderboard.init{
   opacity: 0;
}

@keyframes appear{
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes desappear{
   0% {opacity: 1;}
   100% {opacity: 0;}
}

#right-title{
   color: white;
   text-align: center;
   font-family: Montserrat, 'Open Sans', sans-serif;
}

.left-btns{
   height: 30px;
   background-color: #f58855;
   position: absolute;
   top: 30%;
   width: 56.6%;
   left: 18%;
   padding: 10px;
   font-size: larger;
   color: white;
   text-align: center;
   border-radius: 8px;
   font-family: Montserrat, 'Open Sans', sans-serif;
}

.change{
   background-color: #f58855;
   width: 30px;
   height: 30px;
   margin-top: 5px;
   border-radius: 8px;
   padding: 10px;
   margin-bottom: 10px;
}

#create{
   position: absolute;
   top: 29%;
}

@keyframes rotate {
   100%{transform:rotate(360deg);}
}

#uk{
   width: 25px;
   height: 25px;
}

#pt{
   width: 25px;
   height: 25px;
}

#mute{
   position: absolute;
   background-color: #2f2f30;
   width: 18px;
   border-radius: 5px;
   padding: 5px 3px;
   bottom: 3px;
   height: 13px;
   left: 9px;
   visibility: hidden;
}

#mute:hover{
   background-color: #474747;
}

#unmute{
   position: absolute;
   background-color: #2f2f30;
   width: 18px;
   border-radius: 5px;
   padding: 5px 3px;
   bottom: -7px;
   height: 13px;
   left: 10px;
}

#unmute:hover{
   background-color: #474747;
}

#shader{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: #000000;
   opacity: 0.8;
   visibility: hidden;
}

#newWordle{
   padding: 20px 43px;
   text-align: center;
   position: absolute;
   bottom: 31%;
   left: 36%;
   height: 230px;
   width: 350px;
   background-color: #646464;
   border-radius: 25px;
   visibility: hidden;
}

#newWordle p{
   color: white;
   font-family: Montserrat, 'Open Sans', sans-serif;
   font-size: 30px;
}


#newWordle input{
   font-family: Montserrat, 'Open Sans', sans-serif;
   font-size:15px;
   height: 15px;
   padding: 10px;
   border-radius: 50px;
   border: 2px solid #000000;
}

#newWordle button{
   background-color: #ffffff;
   height: 40px;
   width: 40px;
   padding: 5px;
   font-size: 17px;
   border-radius: 50px;
   border: 2px solid #000000;
}

#newWordle button:hover{
   background-color: #d3d3d3;
}

#english{
   display: flex;
   position: relative;
   border-radius: 9px;
   width: 40px;
   height: 39px;
   background-color: #474747;
   justify-content: center;
   align-items: center;
   visibility: hidden;
}

#english:hover{
   background-color:#525252;
}

#portugues{
   display: flex;
   position: relative;
   border-radius: 9px;
   width: 40px;
   height: 39px;
   background-color: #474747;
   justify-content: center;
   align-items: center;
   visibility: hidden;
}

#portugues:hover{
   background-color:#525252;
}

#points{
   color: white;
   border-radius: 6px;
   position: absolute;
   height: 29px;
   width: 61px;
   background-color: #538d4e;
   left: calc(50% - 169px);
   top: 143px;
   font-family: Arial, Helvetica, sans-serif;
}

#xp{
   color: white;
   padding: 2px;
   border-radius: 12px;
   position: absolute;
   left: calc(50% + 6px);
   font-size: 20px;
   top: -18px;
   font-family: "Jersey 25", sans-serif;
}

#xpnum{
   color: white;
   padding: 2px;
   border-radius: 12px;
   position: absolute;
   left: calc(50% + -29px);
   font-size: 20px;
   top: -18px;
   font-family: "Jersey 25", sans-serif;
}

#decominutes{
   color: white;
   position: absolute;
   left: calc(50% - 34px);
   font-size: 25px;
   top: 116px;
   font-family: Arial, Helvetica, sans-serif;
}

#minutes{
   color: white;
   position: absolute;
   left: calc(50% - 19px);
   font-size: 25px;
   top: 116px;
   font-family: Arial, Helvetica, sans-serif;
}

#timeDivision{
   color: white;
   position: absolute;
   left: calc(50% - 4.6px);
   font-size: 30px;
   top: 106px;
   font-family: Arial, Helvetica, sans-serif;
}

#decoseconds{
   color: white;
   position: absolute;
   left: calc(50% + 5px);
   font-size: 25px;
   top: 116px;
   font-family: Arial, Helvetica, sans-serif;
}

#seconds{
   color: white;
   position: absolute;
   left: calc(50% + 20px);
   font-size: 25px;
   top: 116px;
   font-family: Arial, Helvetica, sans-serif;
}

.present{
   animation: gift 2s;
}

@keyframes gift {
   0%{
      rotate: 0deg;
      width: 40px;
      margin-bottom: 0px;
   }

   50%{
      rotate: 720deg;
      width: 30px;
      margin-top: 10px;
   }

   100%{
      rotate: 1340deg;
      width: 0px;
      margin-bottom: 13px;
   }
}

#moneyR{
   font-family: cursive;
   font-size: 14px;
   background-color: #3a3a3c;
   color: white;
   width: 29px;
   padding-left: 15px;
   border-radius: 5px;
   position: relative;
   left: 19%;
   top: -36px;
   padding-right: 0px;
}

#coinR{
   position: relative;
   left: -16px;
   top: -72px;
   width: 31px;
}

#moneyAnnoncment{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   top: calc(50% - 281px);
   right: 122px;
   height: 53px;
   width: 96px;
   background-color: #646464;
}

.slider-container {
   position: relative;
   bottom: 367px;
   left: 168px;
   transform: rotate(90deg);
}

#slider {
   width: 461px;
}

input[type="range"] {
   -webkit-appearance: none;
   appearance: none;
   width: 100%;
   height: 17px;
   background: #474747;
   border-radius: 18px;
   outline: none;
   cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
   width: 100%;
   height: 4px;
   border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 30px;
   height: 15px;
   background: #202020;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   margin-top: -5.1px;
}

input[type="range"]::-moz-range-track {
   width: 100%;
   height: 4px;
   background: #ccc;
   border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
   width: 10px;
   height: 20px;
   background: #ff5722;
   border-radius: 50%;
   cursor: pointer;
}

#account{
   position: absolute;
   top: 77px;
   left: calc(50% - 294px);
   width: 612px;
   height: 619px;
   background-color: #252525;
   visibility: hidden;
   border-radius: 30px;
}

#password{
   position: relative;
   left: calc(50% - 422px);
   top: 117px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#email-username{
   position: relative;
   left: calc(50% - 146px);
   top: 49px;
   height: 30px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 17px;
   border: none;
}

#login{
   color: white;
   text-align: start;
   width: 100px;
   position: relative;
   left: 244px;
   top: 39px;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}

.gsi-material-button {
   -moz-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -webkit-appearance: none;
   background-color: WHITE;
   background-image: none;
   border: 1px solid #747775;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   color: #1f1f1f;
   cursor: pointer;
   font-family: 'Roboto', arial, sans-serif;
   font-size: 14px;
   height: 40px;
   letter-spacing: 0.25px;
   outline: none;
   overflow: hidden;
   padding: 0 12px;
   position: relative;
   text-align: center;
   -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
   transition: background-color .218s, border-color .218s, box-shadow .218s;
   vertical-align: middle;
   white-space: nowrap;
   width: 270px;
   max-width: 400px;
   min-width: min-content;
   top: 203px;
   left: -114px;
 }
 
.gsi-material-button .gsi-material-button-icon {
   height: 20px;
   margin-right: 12px;
   min-width: 20px;
   width: 20px;
}
 
.gsi-material-button .gsi-material-button-content-wrapper {
   -webkit-align-items: center;
   align-items: center;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   height: 100%;
   justify-content: space-between;
   position: relative;
   width: 100%;
}
 
.gsi-material-button .gsi-material-button-contents {
   -webkit-flex-grow: 1;
   flex-grow: 1;
   font-family: 'Roboto', arial, sans-serif;
   font-weight: 500;
   overflow: hidden;
   text-overflow: ellipsis;
   vertical-align: top;
 }
 
.gsi-material-button .gsi-material-button-state {
   -webkit-transition: opacity .218s;
   transition: opacity .218s;
   bottom: 0;
   left: 0;
   opacity: 0;
   position: absolute;
   right: 0;
   top: 0;
 }
 
.gsi-material-button:disabled {
   cursor: default;
   background-color: #ffffff61;
   border-color: #1f1f1f1f;
 }
 
.gsi-material-button:disabled .gsi-material-button-contents {
   opacity: 38%;
}
 
 .gsi-material-button:disabled .gsi-material-button-icon {
   opacity: 38%;
 }
 
.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
   background-color: #303030;
   opacity: 12%;
}
 
.gsi-material-button:not(:disabled):hover {
   -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
   box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
 
.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
   background-color: #303030;
   opacity: 8%;
 }
/*  Código copiado. */
 

#loginBtn{
   position: relative;
   background-color: white;
   left: calc(50% - 146px);
   top: 123px;
   height: 39px;
   width: 270px;
   border-radius: 30px;
   padding: 5px 28px;
   font-size: 22px;
   border: none;
}

#loginBtn:hover{
   background-color: #538d4e;
   color: white;
}

#shopmenu{
   position: relative;
   background-color: #646464;
   width: 100px;
   height: 10px;
}

#bottom-bar{
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 30px;
   background-color: #2f2f30;
}

#bottomText{
   position: absolute;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   text-align: center;
   height: 10px;
   width: 323px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0 6px;
   right: 8px;
   bottom: 10px;
}

#bottomText p{
   font-size: 25px;
   position: relative;
}

#bottomText a{
   position: relative;
   bottom: 1px;
   color: #ffffff;
   text-decoration: none;
}

#bottomText a:hover{
   text-decoration: underline;
   color: #3362d9;
}